<%= render 'customers/create_customer_modal' %>

<div class="box box-primary">
  <%= form_for @estimate, url: user_estimate_path(current_user, @estimate) do |f| %>
    <%= render :partial => 'form',  locals: { f: f } %>
  <% end %>
</div>