<%- model_class = Estimate -%>
<div class="page-header">
  <h1><%=t 'estimates.create_title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<%= form_for @estimate, url: user_estimates_path(current_user) do |f| %>
    <%= render :partial => 'form',  locals: { f: f } %>
<% end %>