<% content_for :title, "#{ Invoice.model_name.human } #{ @invoice.number}" %>
<div class="embed-responsive embed-responsive-4by3">
  <object data="/pdfjs/web/viewer.html?file=<%= print_user_invoice_url(current_user.id, @invoice, format: :pdf) %>" class="embed-responsive-item"></object>
</div>
<br>
<div class="row no-print">
  <div class="col-xs-12">
    <%= link_to t('helpers.links.cancel'), edit_user_invoice_path(current_user, @invoice), class: 'btn btn-default col-xs-12 col-md-1 btn-flat pull-right' %>

    <%= link_to  forward_email_user_invoice_url(current_user.id, @invoice.id),
                 class: 'btn btn-success col-md-1 hidden-xs btn-flat pull-right',
                data: { disable_with: t(:please_wait) } do %>
        <i class="fa fa-envelope"></i> <%=t 'helpers.send_by_email' %>
    <% end %>
  </div>
</div>