<%- model_class = DeliveryNote -%>
<div class="page-header">
  <h1><%=t 'delivery_notes.edit_title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<%= form_for @delivery_note, url: user_delivery_note_path(current_user, @delivery_note) do |f| %>
  <%= render :partial => 'form',  locals: { f: f } %> 
<% end %>