<%= render 'customers/create_customer_modal' %>

<div class="box box-primary">
  <%= form_for @delivery_note, url: user_delivery_notes_path(current_user) do |f| %>
    <%= render :partial => 'form',  locals: { f: f } %>
  <% end %>
</div>
