<div class="box box-primary">
  <%= form_for @task, url: user_project_task_url(current_user, @project, @task), :html => { :class => "task", role: 'form' } do |f| %>
    <%= render :partial => 'form',  locals: { f: f } %>
  <% end %>
</div>
