<%- model_class = Task -%>
<div class="box box-primary">
  <div class="box-header">

  </div>
  <%= form_for @task, url: user_project_tasks_path(current_user, @project), :html => { :class => "task", role: 'form' } do |f| %>
    <%= render :partial => 'form',  locals: { f: f } %>
  <% end %>
</div>
