<div id="csv-import-customers" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%=t :csv_import %></h4>
      </div>
      <div class="modal-body">

        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <%= link_to csv_template_user_customers_path(current_user), data: { turbolinks: false }, class: 'btn btn-default pull-left' do %>
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
            <%=t :template_file %>
        <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%=t :cancel %></button>
      </div>
    </div>
  </div>
</div>