<div class="box-body">
  <%= render partial: 'layouts/validation_errors', locals: { object: @customer } %>
  <%= render 'form_fields', f: f %>
</div>
<div class="box-footer">
  <%= f.submit t(:save), class: 'btn btn-primary btn-flat col-lg-1 col-md-2 col-sm-3 col-xs-6', data: { disable_with: t('please_wait')} %>
  <%= link_to t("helpers.links.cancel"),
            user_customers_path(current_user), class: 'btn btn-default btn-flat col-lg-1 col-md-2 col-sm-3 col-xs-6' %>
</div>
