<%- model_class = Customer -%>
<div class="page-header">
  <h1><%=t 'customers.edit_title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= form_for @customer, url: user_customer_path(current_user.id, @customer), :html => { :class => "form-horizontal customer" } do |f| %>
  <%= render :partial => 'form', locals: { f: f } %>
<% end %>
