<div class="box box-primary">
  <%= form_for @project, url: user_project_path(current_user, @project), html: { class: 'project', role: 'form' } do |f| %>
    <%= render :partial => 'form', locals: { f: f } %>
  <% end %>
</div>
