<%= render 'customers/create_customer_modal' %>
<div class="box box-primary">
  <%= form_for @project, url: user_projects_path(current_user), html: { class: 'project', role: 'form' } do |f| %>
    <%= render :partial => 'form',  locals: { f: f } %>
  <% end %>
</div>
