<%- model_class = Unit -%>
<div class="page-header">
  <h1><%=t 'units.edit_title' %></h1>
</div>
<%= form_for @unit, url: user_unit_path(current_user.id, @unit), :html => { :class => "unit" } do |f| %>
  <%= render :partial => 'form', locals: { f: f } %>
<% end %>
