<div class="box box-primary">
  <%= form_for @unit, url: user_unit_path(current_user.id, @unit), html: { class: 'unit', role: 'form' } do |f| %>
    <%= render :partial => 'form', locals: { f: f } %>
  <% end %>
</div>
