/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *=require jquery-ui
 *=require bootstrap_and_overrides
 *=require AdminLTE
 *=require nprogress
 *=require nprogress-bootstrap
 *=require progress_bar
 *=require invoices
 *=require cookies_eu
 *=require_self
*/

#filterrific_filter {
    margin-bottom: 0;
}

.pull-down {
    margin-bottom: 14px;
}

.default-flag {
    font-weight: bold;
}

.table-layout-fixed {
    table-layout: fixed;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add-detail-button-wrapper {
    margin: 0 0 15px 0;
}