<%- model_class = Vat -%>
<div class="page-header">
  <h1><%=t 'vats.edit_title' %></h1>
</div>
<%= form_for @vat, url: user_vat_path(current_user.id, @vat), :html => { :class => "vat" } do |f| %>
  <%= render :partial => 'form', locals: { f: f } %>
<% end %>
