<div class="box box-primary">
  <%= form_for @vat, url: user_vats_path(current_user.id), :html => { :class => "vat", role: 'form' } do |f| %>
    <%= render :partial => 'form', locals: { f: f } %>
  <% end %>
</div>
