<p>Estimado cliente.</p>

<p>Hemos tenido problemas durante el proceso de su petición de renovación. Por favor, inténtelo mas tarde. Si los problemas persisten no dude en ponerse en contacto con nosotros a través
  del correo <a href="mailto:billing@insitu.tools">billing@insitu.tools</a>. Estaremos encantados de atenderle.
</p>

<p>Saludos cordiales</p>

<hr>

<p>Dear customer.</p>

<p>We have been experiencing issues during the process of your renewal request. Please, try again later. In case the problems persists don't hesitate to contact
us through the email <a href="mailto:billing@insitu.tools">billing@insitu.tools</a>. We will be pleased to attend you.</p>

<p>Best regards</p>