<!-- To the right -->
<div class="pull-right hidden-xs">
  Please, forward your complaints and suggestions to <a href="mailto:support@insitu.tools">support@insitu.tools</a>. We will be pleased to hear from you.
</div>
<!-- Default to the left -->
<strong>Copyright &copy; 2016 <a href="http://www.insitu.tools" target="_blank">Insitu cloud services</a>.</strong> All rights reserved.