<!-- To the right -->
<div class="pull-right hidden-xs">
  Por favor, envía tus opiniones y sugerencias a <a href="mailto:support@insitu.tools">support@insitu.tools</a>. Estaremos encantados de escucharte.
</div>
<!-- Default to the left -->
<strong>Copyright &copy; 2016 <a href="http://www.insitu.tools" target="_blank">Insitu cloud services</a>.</strong> Todos los derechos reservados.